@model IEnumerable<MvcMovie.Models.Star>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie Title
            </th>
            <th>
                Actor Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        @if(@item!=null && @item.Movie!=null && @item.Actor!=null && @item.StarId!=0){
            <tr>
                <td>
                    @item.Movie.Title
                </td>
                <td>
                    @item.Actor.Name                    
                </td>
                @if(@item!=null){
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StarId"><i class="fa-solid fa-pen-to-square fa-xl"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.StarId"><i class="fa-solid fa-circle-info fa-xl"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.StarId"><i class="fa-solid fa-trash fa-xl"></i></a>
                </td>  
                }
            </tr>
        }
}
    </tbody>
</table>
