@model IEnumerable<MvcMovie.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <div class="row">
        @foreach (var item in Model) {
                <div id="actors-col" class="col">
                    <div class="row">
                        <a class="actors-a">
                            <img class="all-actors" src="@item.Picture" alt="@item.Name"/>
                        </a>
                    </div>
                    <div class="row icons-row">
                        <a class="col" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square fa-xl"></i></a> 
                        <a class="col" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info fa-xl"></i></a> 
                        <a class="col" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash fa-xl"></i></a>
                    </div>
                </div>
        }
    </div>